@page "/"
<h1>Delivered Products</h1>
<a @onclick="()=>GoTo()" style="font-size:60px;color:blue;">
    <span style="font-size:100px;" class=" material-symbols-outlined">
        qr_code_scanner
    </span> 
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>NameSecondLanguage</th>
            <th>Is Delivered</th>
        </tr>
    </thead>
    <tbody>
    @foreach(product pro in products){
        <tr>
            <td>@pro.Name</td>
            <td>@pro.NameSecondLanguage</td>
            <td><input type="checkbox" checked="@pro.IsDelivered" style="width:50px; height:50px;" disabled/></td>
        </tr>
    }
    </tbody>
</table>
@code{
    class product{
        public string Name{ get; set; }
        public string NameSecondLanguage { get; set; }
        public bool IsDelivered {get; set;}
    }
    List<product> products = new List<product>{ new product{Name="Laptop",NameSecondLanguage="لابتوب",IsDelivered=true,}};

    private void GoTo()
{
        App.Current.MainPage.Navigation.PushModalAsync(new QRReader());
}
}